*.[gG][zZ] filter=lfs diff=lfs merge=lfs -text
# *.[pP][nN][gG] filter=lfs diff=lfs merge=lfs -text
*.sh text eol=lf

# git shouldn't diff any on these files:
*.doc   binary diff=exif
*.docx  binary diff=docx
*.dot   binary diff=exif
*.dotx  binary diff=exif
*.xls   binary diff=exif
*.xlsx  binary diff=exif
*.xlt   binary diff=exif
*.xltm  binary diff=exif
*.odb   binary diff=exif
*.odf   binary diff=exif
*.odg   binary diff=exif
*.odi   binary diff=exif
*.odp   binary diff=exif
*.ods   binary diff=exif
*.odt   binary diff=odt
*.otc   binary diff=exif
*.otg   binary diff=exif
*.oti   binary diff=exif
*.otp   binary diff=exif
*.ots   binary diff=exif
*.ott   binary diff=exif
*.pdf   binary diff=exif
*.ppt   binary diff=exif
*.pptx  binary diff=exif
*.ps    binary diff=exif

# Auto detect text files and perform LF normalization
* text=auto
